$fsa: #2226ce;
$culture: #8f2829;
$mrctv: #333e48;
$nb: #ee7624;
$cns: #0055b8;
$latino: #b3272d;
$lightPercent: 47%;
.nbdaily {
    background-color: $nb;
}
.cnsnews {
    background-color: $cns;
}
.mrctv {
    background-color: $mrctv;
}
.culture {
    background-color: $culture;
}
.latino {
    background-color: $latino;
}
.fsa {
    background-color: $fsa;
}
.nbdailyLight {
    background-color: lighten($nb, 40%);
    button{
        background-color: $nb;
        &:hover{
            background-color: darken($nb,10%);
        }
    }
}
.cnsnewsLight {
    background-color: lighten($cns, 50%);
    button{
        background-color: $cns;
        &:hover{
            background-color: darken($cns,10%);
        }
    }
}
.mrctvLight {
    background-color: lighten($mrctv, 65%);
    button{
        background-color: $mrctv;
        &:hover{
            background-color: darken($mrctv,10%);
        }
    }
}
.cultureLight {
    background-color: lighten($culture, 55%);
    button{
        background-color: $culture;
        &:hover{
            background-color: darken($culture,10%);
        }
    }
}
.latinoLight {
    background-color: lighten($latino, 47%);
    button{
        background-color: $latino;
        &:hover{
            background-color: darken($latino,10%);
        }
    }
}
.fsaLight {
    background-color: lighten($fsa, 47%);
    button{
        background-color: $fsa;
        &:hover{
            background-color: darken($fsa,10%);
        }
    }
}
.Builder {
    background-color: #333e48;
}
.Text.Fix {
    background-color: #5BC0BE;
}
body {
    margin: 0;
    // font-family: Verdana,Geneva,sans-serif;
    color: #333e48;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.loading-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
