#header{
    height: 10vh;
    .navbar{
        display: flex;
        justify-content: center;
        .title{
            button{
                background-color: #ffffff00;
                border: none;
                cursor: pointer;
                outline: none;
            }
        }
    }
}